.example{
	display: flex;
	height: 100vh;
	width: 100vw;
	justify-content: center;
	align-items: center;
	font-size: 15px;
}

.container{
	background-color: #e1e1e1;
	height: 100%;
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form{
	display: flex;
	flex-direction: column;
	border-radius: 10px;
	background-color: #a4a8ab;
	padding: 1.5rem;
}

input{
	border: none;
	border-radius: 7px;
	padding: 7px;
	margin: 5px 0px 10px 0px;
	width: 96.8%;	
	background-color: #e1e1e1;
}

label, a, p{
	color: #1f2024;
}


.registerLink{
	margin-top: 5%;
	text-align: left;
}

::placeholder{
	color: rgb(149, 147, 147);	
}

.login{
	width: 100%;
	border: 1px solid black;
	border-radius: 5px;
	background-color: #32383b;
	color: white;
	padding: 7px;
	margin: 5px 0px 5px 0px;
	cursor: pointer;
}

.or{
	display: flex;
	justify-content: center;
	align-content: center;
	padding: 10px;
	height: 30px;
}

hr{
	border-top: 1px solid black;
	width: 40%;
	height: 0px;
}

.google_login{
	border: none;
	border-radius: 15px;
	padding: 10px 20px;
	width: 100%;
	box-shadow: 1px 1px 5px;
	display: inline;
	align-content: center;
	text-align: center;
	vertical-align: middle;
	gap: 5px;
	cursor: pointer;
	color: #1f2024;
	background-color: #e1e1e1;
}

.google_login svg{
	vertical-align: middle;
}

@media screen and (min-width: 480px) {
	.form{
		width: 22vw;
	}
}