*{
	font-family: "Adgasima", sans-serif;
}

.example{
	height: 92%;
	width: 100%;
	font-size: 15px;
	color: #1f2024;
}

.container{
	display: flex;
	height: 100%;
	width: 100%;
	/* background-color: #e1e1e1; */
}

.form{
	position: relative;
	margin: auto;
	/* background-color: #a4a8ab; */
	border-radius: 10px;
	display: flex;
	flex-direction: column;
	min-width: 450px;
	max-width: 600px;
	width: 65vw;
	height: 100%;
	overflow-y: auto;
}

.row{
	display: grid;
	grid-template-columns: 1fr 1fr;
	overflow-wrap: anywhere;
	/* width: 100%; */
}

.column{
	width: 80%;
	justify-content: center;
	margin: 0 auto;
	padding: 0 1rem;
	display: flex;
	flex-direction: column;
}

.ip{
	border: none;
	border-radius: 7px;
	padding: 7px;
	margin: 5px 0px 10px 0px;
	width: 96.8%;	
	background-color: #e8e8e8;	
}

.ip::-webkit-inner-spin-button, input::-webkit-outer-spin-button{
	-webkit-appearance: none;
}

.ip::placeholder{
	color: rgb(149, 147, 147);	
}


.signUp{
	width: 60%;
	border: 1px solid black;
	border-radius: 8px;
	background-color: #32383b;
	color: white;
	padding: 7px;
	margin: 5px 20%;
	cursor: pointer;
}

.or{
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 10px 10%;
	height: 30px;
	gap: 20px;
}

.or hr{
	border-top: 1px solid black;
	width: 40%;
	height: 0px;
}

.google_login{
	border: none;
	border-radius: 15px;
	padding: 10px 10px;
	margin: 0px auto 2% auto;
	width: 60%;
	box-shadow: 1px 1px 5px;
	display: inline;
	align-content: center;
	text-align: center;
	vertical-align: middle;
	gap: 5px;
	cursor: pointer;
	color: #1f2024;
	background-color: #e1e1e1;
}

.google_login svg{
	vertical-align: middle;
}

.google_login:hover, .signUp:hover{
	transform: scale(1.01);
	transition-duration: 30ms;
}

.loginLink{
	/* border: 1px solid black; */
	display: flex;
	justify-content: center;
	margin: 1% auto 8%;
	background-color: #32383b;
	color: white;
	padding: 1vh 20px;
	font-size: 0.9rem;
	font-family: "Adgasima", sans-serif;
	border-radius: 15px;
	/* background-color: #1f2024; */
}

/* .loginLink::after, .loginLink::before{
	content: attr(data-text);
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	transition: opacity 0.3s ease-out;
	background-color: #32383b;
	color: white;
	padding: 1vh 20px;
	font-size: 0.9rem;
	font-family: "Adgasima", sans-serif;
} */

/* .loginLink:hover {
	border-radius: 15px;
	content: "Login Here";
  	opacity: 1;
} */

/* .loginLink::before{
	content: "Already have an Account?";
	border-radius: 8px;
	opacity: 1;
}

.loginLink:hover::before {
	opacity: 0;
}

.loginLink:hover::after {
	opacity: 1;
} */

@media(max-width:750px){
	.loginLink::before{
		position: relative;
	}
}
@media (max-width: 750px){

	.row{
		grid-template-columns: 1fr;
		max-width: 100%;
	}

	.form{
		margin: 10% auto;
		overflow: auto;
		min-width: 340px;
	}

	.form::-webkit-scrollbar {
		width: 5px;
	}

	.form::-webkit-scrollbar-thumb {
		background-color: #34383b; /* color of the scroll handle (thumb) */
		border-radius: 10px; /* roundness of the scroll thumb */		
	}

	
}

/* @media (max-width: 400px){

} */